body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.movie-card {
  margin: 25px;
  cursor: pointer;
  transition: box-shadow 0.3s; /* Agrega transición de sombra */
}

.movie-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Cambia la sombra en el hover */
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

.movie-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
  cursor: default;
}


.card-header {
  border-radius: 0 0 4px 4px;
  background-color: white;
}

.see-details-button {
  margin: 10px auto;
}

.modal-content {
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.dropdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; 
}

.error-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  margin-top: 20px; 
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.logo-image {
  width: 100px;
}

.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.not-found-text {
  font-size: 24px;
  font-weight: bold;
}

.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.results-per-page-selector-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


